# --- Python / Django ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/
ENV/
env.bak/
venv.bak/

# Database
db.sqlite3
db.sqlite3-journal

# Django specific
media/
*.log

# --- Node / React ---
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-test.log*

# Dependency directories
node_modules/
dist/
build/

# VS Code / OS files
.vscode/
.DS_Store
Thumbs.db